html {
  background-color: #fefefe7e;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.u-float-right {
  float: right;
}
#move {
  position: absolute;
  /*width: 100%;*/
  object-fit: cover;
  height: 100vh;

  z-index: -1;
}
.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.container {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  overflow: hidden;
  width: 360px;
}

.header-container {
  position: relative;
}

.header-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  height: auto;
  -webkit-animation: zoomEffect 35s infinite;
  animation: zoomEffect 35s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
    transform: scale(1.2) translateX(-360px) translateY(-80px);
    -moz-transform: scale(1.2) translateX(-360px) translateY(-80px);
    -ms-transform: scale(1.2) translateX(-360px) translateY(-80px);
    -o-transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0) translateY(0);
    transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
    transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

.header {
  color: #fff;
  padding: 15px;
  height: 300px;
}

.header > svg {
  cursor: pointer;
}

.main-heading {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 12px;
  text-shadow: 2px 2px 4px #121212;
}

.tag {
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 20px;
  font-size: 11px;
  margin-right: 8px;
  padding: 4px 10px;
  text-transform: uppercase;
}

.stats {
  margin-top: 35px;
}

.stat-module {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 5px 12px 5px;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  text-transform: uppercase;
}

.stat-number {
  display: inline-block;
  font-weight: 600;
  margin-left: 4px;
}

.overlay-header {
  background-color: rgba(41, 40, 40, 0.431);
  height: 100px;
  margin: -50px 0 0 -25%;
  transform: rotate(-10deg);
  width: 150%;
  z-index: 0;
}

.body {
  background-color: rgba(41, 40, 40, 0.431);
  color: #d9f8a0;
  margin-top: -50px;
  padding: 0 15px 15px;
  position: relative;
}

.body-image {
  border: 4px #c3f805 solid;
  border-radius: 100%;
  box-shadow: 5px 10px 75px rgba(0, 0, 0, 0.4);
  float: left;
  margin: -90px 0 20px;
  position: relative;
  z-index: 2;
}

.body-action-button {
  background-color: #383838;
  border-radius: 50%;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: -97px;
  width: 40px;
}
#blog {
  right: 70px;
  top: -83px;
  padding: 3px auto;
  background-color: transparent;
}
.body-stats {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  /*float: left;*/
  margin: -50px 0 0 30px;
  position: relative;
  text-transform: uppercase;
  width: 80%;
  text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.48);
}

.body-stats > span {
  display: inline-block;
  font-weight: 900;
  margin-top: 8px;
}

.body-info {
  clear: left;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: all 600ms ease-out;
  text-align: center;
}

/*.body-more {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eeeeee',GradientType=0 );
  cursor: pointer;
  margin: -57px auto 0px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}*/

.body-more span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 6px;
  margin-right: 2px;
  width: 6px;
}

.card {
  background: rgba(31, 30, 30, 0.644);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  padding: 10px;
  border: #caff9f solid 2px;
}
#infodata {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-heading {
  font-size: 12px;
  /*text-transform: uppercase;*/
  text-align: center;
  /*border:1px dashed red;*/
  /*margin-left:32px;*/
}
#hello {
  cursor: pointer;
}
.card-more {
  cursor: pointer;
  float: right;
}

.card-list {
  list-style-type: none;
  margin: 18px 0 10px 10px;
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
}

.card-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #f5f5f5;
}

.card-list::-webkit-scrollbar {
  height: 3px;
  background-color: #f5f5f5;
}

.card-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #dddddd65;
}

.card-list li {
  display: inline;
  margin-left: 10px;
}

.card-list li:first-child {
  margin-left: 0;
}
.fa-location-arrow {
  color: #caff9f;
}
#social {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background: transparent;
}

.website a {
  position: relative;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #efefef;
  background: linear-gradient(287deg, #c5e88b, #474747);
  background-size: 200% 200%;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /*box-shadow: 2px 10px 5px;*/
  padding: 10px;
}
.website2 a {
  position: relative;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #efefef;
  background: linear-gradient(287deg, #c5e88b, #474747);
  background-size: 200% 200%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /*box-shadow: 2px 10px 5px;*/
  padding: 10px 55px;
}

/*Resources*/
